html,
body {
    margin: 0px;
    height: 100%;
}

@font-face {
    font-family: clockicons;
    src: url("../font/clockicons/clockicons.eot#iefix") format('embedded-opentype'), url("../font/clockicons/clockicons.woff2") format('woff2'), url("../font/clockicons/clockicons.woff") format('woff'), url("../font/clockicons/clockicons.ttf") format('truetype'), url("../font/clockicons/clockicons.svg") format('svg');
    font-weight: 400;
    font-style: normal
}